{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'vehicleapp\assets\css\nav.css' %}">

    <style>
      body{
        background: linear-gradient(#cfd8ef, #fff);
      }
      {% comment %} .navbar{
        background-color: #3a3c6c;
      }
      .navbar a{
        color:yellow;
      } {% endcomment %}
      {% comment %} .navbar-nav li{list-style: none; float: left; }
      .navbar-nav li a{text-decoration: none; color:white; font-weight: 200;}     {% endcomment %}
    </style>
  </head>
  <body>
    <header>
      <div class="header-bottom">
        <div class="container">
          
          <ul class="bottomnav">
            <li class="active"><a href="#">FAQs</a></li>
            <li><a href=""> Contact</a></li>
            <li><a href="{% url 'helpreply' %}"> Reply</a></li>
          </ul>
          
          <div class="clearfix"></div>
        </div>
      </div>
    </header>
    
    {% comment %} <nav class="navbar navbar-expand-lg  ">
      <a class="navbar" href="#" >Help Page</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" >
          <li class="nav-item">
            <a class="nav-link" href="#">FAQs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav> {% endcomment %}
    <div class="container">
      <h1 class="text-center mt-4">How can we help?</h1>
      <hr>
      <div class="row">
        
        <div class="col-md-6">
          <h3>Contact Us</h3>
          <form method="POST" action="{% url 'help' %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="message"></label>
              <textarea class="form-control border-dark mb-4" name="message" rows="5" placeholder="Enter your message"></textarea>
            </div>
            
            {% comment %} <div class="form-group">
              <label for="reply"></label>
              <textarea class="form-control border-dark mb-4" name="reply" rows="5"  value="{{user_id.email}}"></textarea>
            </div> {% endcomment %}
            {% comment %} <button type="submit" class="btn btn-primary">Submit</button> {% endcomment %}
            <input type="submit" class="btn btn-primary" name="submit" value="Submit">
            <a href="{% url 'home'%}" class="btn btn-secondary">Back</a>

          </form>
          {% if msg %}
				<div class="alert alert-success" role="alert">
					{{msg}}
				  </div>
				{% endif %}
        </div>
      </div>
    </div>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
